*{
	box-sizing: border-box;
}
body{
	background-color: #cccccc;
	background-image: url(https://qhkarimeh.ir/enterprise/qhkarimeh/images/bg-pattern-all.png);
}
div{
	position : absolute;
	left     : 50%;
	top      : 50%;
	transform: translate(-50%,-50%);
	font size: 100px;
}
button{
	height: 2em;
	width: 5em;
}